<div class="navegation-v">
    <div class="container-slogan">
        <div class="slogan">
            <h2>Slogan da Empresa</h2>
        </div>
        <div class="spliter">
            
        </div>
    </div>
    <div class="btns">
        <app-btn-app
            name="btnServicos"
            value="Serviços"
            url="assets/svg/email-icon.svg"
        >
        </app-btn-app>
        <app-btn-app
            name="btnContato"
            value="Contato"
            url="assets/svg/password-icon.svg"
        >
        </app-btn-app>
        <app-btn-app
            name="telefone"
            value="Telefone"
            url="assets/svg/password-icon.svg"
        >
        </app-btn-app>
    </div>
    <div class="config-btns">
        <button name="btn-user" (click)="profile()">
            <p>Usuário</p>
        </button>
        <button name="btn-exit">
            <p>Sair</p>
        </button>
    </div>
</div>
